<html>
  <body>

    <app-navbar></app-navbar>
    <br>
    <br>
    <div class="container p-5 mt-0">
        <h2 class="text-center mb-4">Product Hierarchy</h2>
      
        <div *ngFor="let product of products" class="card">
          <div class="card-body">
            <h3 class="card-title">Product: {{ product.name }}</h3>
            <p class="card-text">Internal Name: {{ product.internalName }}</p>
      
            <button class="btn" (click)="viewFeatures(product)">View Features</button>
            
            <div *ngIf="selectedProduct === product && features.length > 0">
              <h4>Features:</h4>
              <ul>
                <li *ngFor="let feature of features">
                  <strong>Feature:</strong> {{ feature.name }}
                  <button class="btn btn-info" (click)="viewParameters(feature)">View Parameters</button>
                  <div *ngIf="selectedFeature === feature && parameters.length > 0">
                    <h5>Parameters:</h5>
                    <ul>
                      <li *ngFor="let parameter of parameters">
                        <strong>Parameter:</strong> {{ parameter.name }}
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    
  </body>
</html>
