html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to right, #667eea, #764ba2);
}

body {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    margin-bottom: 20px;
}

.container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
    flex: 1;
}

.btn{
    background-color: rgb(24, 15, 48);
    color:aliceblue
}



.card {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card-text {
    color: #555;
}


.btn:hover {
    background-color: #0056b3;
}

.btn-info {
    background-color: #17a2b8;
}

.btn-info:hover {
    background-color: #022b31;
}

h4 {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}